<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feedback</title>
</head>
<body>
    <div class="container">
    <h1>Thank you for your feedback {{name}}</h1>
    <p>Your form has been successfully submitted.</p>
    <button class="Thank-you">
         <a href="#" class="button">Return to Website</a>
    </button>
    </div>
</body>
</html>